h1 {font-size: 1.5em; font-weight: bold; padding: 15px 10px;}
em {font-style: oblique;}

.ui-button {text-decoration: none; padding: 2px; font-size: 0.9em; position: relative;}
.ui-button .ui-icon {top: 2px; position: absolute;}
.ui-button-icon-primary {left: 2px;}
.ui-button-text-icon-primary {padding-left: 20px;}
.ui-button-icon-secondary {right: 2px;}
.ui-button-text-icon-secondary {padding-right: 20px;}

.ui-widget-header {padding: 5px 10px;}
.ui-widget-header .ui-icon {display: inline-block; margin-right: 0.2em;}

.ui-widget-content {padding: 15px 10px 10px 15px;}

#titlebar {position: relative; height: 50px;}
#user-status {position: absolute; right: 5px; top: 15px; font-size: 0.9em;}
#user-name {padding-right: 10px; font-size: 1.1em;}

#login-window {width: 50%; margin: 0 25%; position: absolute; top: 15%;}
#login-button, #token-input {display: block; margin: 15px auto; width: 75%; text-align: center;}